// banner 字體設定
.banner-font-style{
    font-family:'Kalam', cursive;
    font-size: 50px;
    color: rgb(105, 134, 105);
    -webkit-text-stroke: 2px white;
}

// 圖片設定
.bg-cover{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
